<div id="<%= dom_id order %>">
  <p>
    <strong>Name:</strong>
    <%= order.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= order.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= order.city %>
  </p>

  <p>
    <strong>Shipped:</strong>
    <%= order.shipped %>
  </p>

  <p>
    <strong>Cart:</strong>
    <%= order.cart_id %>
  </p>

</div>
